/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende p책 sidan */
body {
    background: url("./bilder/brooke-lark-brKCNseqD-A-unsplash.jpg");
}

/* Utseende p책 boxen */
div {
    width: 600px;
    background: #E5E3D7;
    margin: 40px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
}

/* Utseende p책 inneh책llet */
h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}
p {
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 10px;
}
ul {
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 20px;
    margin-left: 30px;
    list-style-type: circle;
}
li {
    
}