/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #e81121;
}
.kontainer {
    width: 700px;
    margin: 1em auto;
    padding: 50px;
    background-color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    color: #333;
}
table {
    width: 100%;
    border: 1px solid #DDD;
    border-collapse: collapse;
    border-spacing: 0;
}
caption {
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
tr:nth-child(odd) {
    background: rgb(248, 248, 248);
}
tr:nth-child(even) {
    background: #FFF;
}
tr.rubrik {
    background: #f7e8e8;
}
tr {
    border: 1px solid #DDD;
}
td, th {
    padding: 10px
}
td.kol1 {
    width: 60%;border: 1px solid #DDD;
}
td.kol1 img {
    width: 50px;
    float: left;
    margin-right: 10px;
}
td.kol2 {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding: 20px 30px 0;
}
td.kol2 i {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: #EEE;
    cursor: pointer;
}
td.kol2 input {
    text-align: center;
}
td.kol3 {
    width: 15%;
    border: 1px solid #DDD;
}
select, input[type="text"], button {
    width: 100%;
    padding: 5px;
    border: 1px solid #949494;
    font-size: 11px;
}
button {
    cursor: pointer;
    background: #209594;
    color: #FFF;
    border: none;
}
button:hover {
    background: #25aaa8;
}
.varning {
    color: crimson;
}