@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nothing+You+Could+Do&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.kontainer {
    font-family: 'Anton', sans-serif;
}

/* Sidhuvudets utseende */
.sidhuvud {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.sidhuvud img {

}
.sidhuvud ul {
    list-style-type: none; /* Tar bort punkterna */
    margin: 30px 30px 0 0;
}
.sidhuvud li {
    display: inline; /* Horisontellt */
    margin-left: 60px;
}
.sidhuvud li a {
    text-decoration: none;
    color: #682F1C;
    font-size: 24px;
    text-transform: uppercase;
}
.sidhuvud li a:hover {
    color: #B6978A;
}
.sidhuvud li a.aktiv {
    color: #F7A600;
}

/* Rutornas utseende */
/* Ljus #FEF1E5 */
/* Mörk #EFDAC5 */
.rutor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.ljus {
    background: #FEF1E5;
}
.mörk {
    background: #EFDAC5;
}
.rutor .burgare {
    text-align: center;
}
.rutor .burgare h1 {
    color: #682F1C;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 150px;
}
.rutor .burgare h2 {
    color: #682F1C;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    transform: rotate(-2deg);
}
.rutor .burgare img {
    width: 80%;
    transition: all 0.2s; /* Mjuk övergång */
}
.rutor .burgare img:hover {
    transform: scale(1.2);
}
.rutor .burgare p {
    color: #682F1C;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}